In [1]:
import pandas as pd

In [2]:
moodle_df = pd.read_excel("CS 335-2022-1 Grades.xlsx", engine='openpyxl')
moodle_df['ID number'] = moodle_df['ID number'].astype("string")
moodle_df = moodle_df.set_index('ID number')

In [3]:
moodle_df.columns

Index(['First name', 'Surname', 'Institution', 'Department', 'Email address',
       'Assignment: Lab 2 (Real)', 'Assignment: Lab 2 (Feedback)',
       'Last downloaded from this course'],
      dtype='object')

In [4]:
marks = "Assignment: Lab 2 (Real)"
feedback = "Assignment: Lab 2 (Feedback)"
moodle_df[feedback] = moodle_df[feedback].astype("string")

In [5]:
moodle_df.columns

Index(['First name', 'Surname', 'Institution', 'Department', 'Email address',
       'Assignment: Lab 2 (Real)', 'Assignment: Lab 2 (Feedback)',
       'Last downloaded from this course'],
      dtype='object')

In [6]:
grades_df = pd.read_csv('grades.csv')
grades_df['Roll Number'] = grades_df['Roll Number'].astype("string")
grades_df = grades_df.set_index('Roll Number')
grades_df.fillna(" ", inplace=True)

In [7]:
cols = grades_df.columns
print(cols)

Index([' Name', ' Q1 marks', ' Q2_1 marks', ' Q2_2 marks', ' Q2_3 marks',
       ' Q2_4 marks', ' Q2_5 marks', 'Q3 marks', ' Total Marks',
       ' Q1 comments', ' Q2_1 comments', ' Q2_2 comments', ' Q2_3 comments',
       ' Q2_4 comments', ' Q2_5 comments', 'Q3 comments'],
      dtype='object')

In [11]:
marks_grades = " Total Marks"
comment_cols = [entry for entry in cols[-7:]]
print(comment_cols)

[' Q1 comments', ' Q2_1 comments', ' Q2_2 comments', ' Q2_3 comments', ' Q2_4 comments', ' Q2_5 comments', 'Q3 comments']

In [12]:
for roll, row in grades_df.iterrows():
    m = row[marks_grades]
    c = ""
    for c_name, c_col in zip(["Q1", "Q2 (a)", "Q2 (b)", "Q2 (c)", "Q2 (d)", "Q2 (e)", "Q3" ], comment_cols):
        c = c + f"{c_name}: {row[c_col]} \n"
    try:
        moodle_df.at[roll, marks] = m
        moodle_df.at[roll, feedback] = c
    except:
        print("Could not enter marks for, ", roll)
        pass

In [13]:
moodle_df.head()

,First name,Surname,Institution,Department,Email address,Assignment: Lab 2 (Real),Assignment: Lab 2 (Feedback),Last downloaded from this course
ID number,,,,,,,,
200050123,Sagar,.,NaN,NaN,200050123@iitb.ac.in,9.5,Q1: Total 3.0 out of 3. Q2 (a): 0.5 out of 0....,1662271403
200050111,P Sai,Aditya,NaN,NaN,200050111@iitb.ac.in,10,Q1: Total 3.0 out of 3. Q2 (a): 0.5 out of 0....,1662271403
200050050,Harshvardhan,Agarwal,NaN,NaN,200050050@iitb.ac.in,10,Q1: Total 3.0 out of 3. Q2 (a): 0.5 out of 0....,1662271403
200050113,Pulkit,Agarwal,NaN,NaN,200050113@iitb.ac.in,10,Q1: Total 3.0 out of 3. Q2 (a): 0.5 out of 0....,1662271403
200070076,Shikhar,Agrawal,NaN,NaN,200070076@iitb.ac.in,9.5,Q1: Total 3.0 out of 3. Q2 (a): 0.5 out of 0....,1662271403

In [14]:
moodle_df.to_excel('moodle_final.xlsx')

In [15]:
moodle_df.to_csv('moodle_final.csv')